<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include 'includes/head.html' %}
    <title>{% block title %}
    Yatube - Соц.сеть
    {% endblock %}</title>
  </head>

  <body>
    <header>
    {% include 'includes/header.html' %}
    </header>
  
    <main>
      <div class="container py-5">
        <h2>{% block header %}{% endblock %}</h2>
    {% block content %}
      <h1>Контент запретил РосКомНадзор!</h1>
    {% endblock content %}
    </div>
    </main>

    {% include 'includes/paginator.html' %}
    {% include 'includes/footer.html' %}
  </body>

</html>