{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Привет, я Дима &#129302;</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Разработчик  на Python, Go из хобби люблю вело туризм , катаю между городами ,читаю книги</p>
        <div class="row">
          <p>
          <div class="col"><img src="{% static 'img/about/1.png' %}" ></div>
          </p>
        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md- col-lg-6 col-xl-6">
        <div class="img_row">
        <img src="{% static 'img/about/add.png' %}" >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Мои проекты на git</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="https://github.com/Not-user-1984/api_final_yatube">Api_Yatube</a></p>
        <p><a href="https://github.com/Shkitskiy94/Joystick161">Интернет магазин JoYstik</a></p>
        <p><a href="https://github.com/Not-user-1984/hw_python_oop">Модуль фитнес-трекера</a></p>
        <p><a href="http://thecode.local/content-manager/">api_yamdb</a></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телеграм: @DmitryPluzhnikov</p>
      </div>
    </div>
  </div>
</body>
<!-- конец всей страницы -->
{% endblock %} 