{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <div class="container">
    <div class="row row-cols-4">
      <div class="col">
        <img src="{% static 'img/tech/python.png' %}" >
      </div>
      <div class="col">
        <img src="{% static 'img/tech/django.png' %}" >
      </div>
      <div class="col">
        <img src="{% static 'img/tech/docker.png' %}" >
      </div>
      <div class="col">
        <img src="{% static 'img/tech/git.png' %}" >
      </div>
    </div>
{% endblock %} 